
.calendar-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(400px / 7 * 8);
  width: 400px;
  user-select: none;
  border: 5px solid #F65555;
  padding: 20px;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
}
