
.current-month-bar {
  display: flex;
  height: calc(100% / 7);
  justify-content: center;
  align-items: center;
}

.month {
  padding: 5px;
}

.year {
  padding: 5px;
}

.prev {
  padding: 5px;
}

.next {
  padding: 5px;
}

