
.month-days {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: calc(100% / 7 * 6);
}

.day {
  display: flex;
  width: calc(100% / 7);
  align-items: center;
  justify-content: center;
}
