
.current-month-bar {
  display: flex;
  height: calc(100% / 7);
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 20px;
  cursor: pointer;
}

.date {
  color: #F65555;
  font-weight: bold;
}

.month {
  padding: 5px;
}

.year {
  padding: 5px;
}

.navigation {
  color: white;
  padding: 20px;
}

.prev {
  padding: 5px;
  cursor: pointer;
}

.next {
  padding: 5px;
  cursor: pointer;
}

