
.week-days-bar {
  font-family: 'Roboto Mono';
  display: flex;
  height: calc(100% / 7);
  color: #8086DE;
  font-weight: bold;
}

.week-day {
  display: flex;
  width: calc(100% / 7);
  text-align: center;
  align-items: center;
  justify-content: center;
}
